<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
          <span class="col-2 d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="../../../assets/images/nosotros/profile.jpg" alt="..." /></span>
            <h1 class="mb-0">
                Bongioanni
                <span class="text-secondary">Alejandro</span>
            </h1>
            <div class="text-secondary subheading mb-5">
                Estados Unidos 142 · Buenos Aires - Argentina ·
                <a href="mailto:name@email.com">alejandro.bongioanni@gmail.com</a>
            </div>
            <p class="lead mb-5">Soy una persona orientada hacia las metas y objetivos de la organización, aplicando
                mis conocimientos para lograr así un trabajo coordinado que permita el crecimiento de la empresa así
                como el mío personal y profesional.</p>
            <div class="social-icons">
                <a class="text-decoration-none social-icon" href="https://www.linkedin.com/in/alejandro-bongioanni-37a9426b/"
                    target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="text-decoration-none social-icon" href="https://github.com/Albongle" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a class="text-decoration-none social-icon" href="https://www.youtube.com/user/alejandrobongioanni" target="_blank"><i
                        class="fab fa-youtube"></i></a>
                <a class="text-decoration-none social-icon" href="https://www.facebook.com/bongioanni.alejandro/" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experiencia</h2>
            <div class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Ayudante de catedra</h3>
                    <div class="text-secondary subheading mb-3">UTN-FRA · Laboratorio de Software libre</div>
                    <p>Curso de Ingreso · Programacion y Laboratorio II </p>
                    <ul class="fa-ul mb-0">
                        
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Correcion · Elaboracion de examenes.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Repaso de cuestionarios.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Dictado de clases.
                        </li>
                    </ul>

                </div>
                <div class="flex-shrink-0"><span class="text-primary">Marzo 2021 - Presente</span></div>
            </div>
            <div class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Coordinador Gestion en tiempo real</h3>
                    <div class="text-secondary subheading mb-3">Telecom Argentina S.A · Workforce </div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Analizar y detectar oportunidades de mejora en todo el proceso de workflow.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Confección de análisis estadístico de tráfico y desempeño de la dotación.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Generación de reportes en fin de obtener una alerta temprana y detención de problemas para la operación.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Controlar el flujo de llamadas garantizando la atención en todos los segmentos de acuerdo a valores pre establecido.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Centralizar los recursos para poder fácilmente asignarlos a los segmentos donde haya mayor necesidad.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Seguimiento en tiempo real de métricas y objetivos del negocio y operativas.
                        </li>
                    </ul>

                </div>
                <div class="flex-shrink-0"><span class="text-primary">Abril 2010 - Presente</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Educacion</h2>
            <div class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class=" text-secondary mb-0">Universidad Tecnologica Argentina · Avellaneda</h3>
                    <div class="fs-5 subheading mb-3">Tecnico Universitario en Programacion</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Marzo 2020 - Presente</span></div>
            </div>
            <div class="shadow-sm p-3 mb-5 bg-body rounded d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="text-secondary mb-0">E.N.E.T N°5 de Lanus John F. Kennedy</h3>
                    <div class="fs-5 subheading mb-3">Producción de bienes y servicios informaticos profesionales y
                        personales</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Enero 2000 - Noviembre 2004</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="text-secondary subheading mb-3">Lenguajes de Programacion y herramientas</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><img src="../../../assets/images/nosotros/c.png" alt="c"></li>
                <li class="list-inline-item"><img src="../../../assets/images/nosotros/csharp.png" alt="c"></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-php"></i></li>
                <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
                <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                <li class="list-inline-item"><img src="../../../assets/images/nosotros/mysql.png" alt="c"></li>
                <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            </ul>
            <div class="subheading mb-3">Aptitudes</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, diseños responsivos.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Analisis y deteccion de oportunidades de mejora.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Programacion estructurada, Orientada a objetos (POO).
                </li>
            </ul>
            <div id="carouselCertificados" class="carousel carousel-dark slide col-lg-6 col-sm-12 mb-3" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="5" aria-label="Slide 6"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="6" aria-label="Slide 7"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="7" aria-label="Slide 8"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="8" aria-label="Slide 9"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="9" aria-label="Slide 10"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="10" aria-label="Slide 11"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="11" aria-label="Slide 12"></button>
                  <button type="button" data-bs-target="#carouselCertificados" data-bs-slide-to="12" aria-label="Slide 13"></button>
              </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/nosotros/certificados/1-dinseniobd.png" class="d-block w-100" alt="cetificado-1">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/2-expresionesreg.png" class="d-block w-100" alt="cetificado-2">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/3-fundamentosdev.png" class="d-block w-100" alt="cetificado-3">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/4-github.png" class="d-block w-100" alt="cetificado-4">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/5-jsavanzado.png" class="d-block w-100" alt="cetificado-5">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/6-jsesencial.png" class="d-block w-100" alt="cetificado-6">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/7-nodejs.png" class="d-block w-100" alt="cetificado-7">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/8-nodejspractico.png" class="d-block w-100" alt="cetificado-8">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/9-scrum.png" class="d-block w-100" alt="cetificado-9">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/10-sql.png" class="d-block w-100" alt="cetificado-10">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/11-vscode.png" class="d-block w-100" alt="cetificado-11">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/12-CoderHouse.png" class="d-block w-100" alt="cetificado-12">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/certificados/13-CertificadoJS.png" class="d-block w-100" alt="cetificado-13">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCertificados" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCertificados" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>




        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section row" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interes</h2>
            <div id="carouselInteres" class="carousel slide col-lg-6 col-sm-12 mb-3" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselInteres" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselInteres" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselInteres" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/nosotros/pesca1.jpg" class="d-block w-100" alt="foto-pesca-uno">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/pesca2.jpg" class="d-block w-100" alt="foto-pesca-dos">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/nosotros/familia.jpg" class="d-block w-100" alt="foto-familia">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselInteres" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselInteres" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <p>Adcionalmente al desarrollo de aplicaciones, la actividad deportiva que mas disfruto es la pesca.</p>
            <p class="mb-0">Soy padre de 3 increibles niños por lo que siempre existe un buen motivo que nos invita a relizar un paseo en familia o bien a sentarnos en nuestro sillon a disfrutar de nuestras peliculas/videos juegos favoritos.</p>
        </div>
    </section>
    <hr class="m-0" />


</div>
