<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="login"><img style="width: 64px; margin-right: 20px;" src="../../../assets/images/logo.svg" alt="icono">Juegos Bongio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a routerLink="juegos" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Juegos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="juegos/ahorcado">Ahorcado</a></li>
              <li><a class="dropdown-item" routerLink="juegos/preguntados">Preguntados</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">Nosotros</a>
          </li>
          <!-- <li class="nav-item">
            <a id="nav-saludo" class="nav-link disabled">Usuario</a>
          </li> -->
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a *ngIf="usuario|async as user" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img *ngIf="user.photoURL else imgenDefault" [src]="user.photoURL" alt="img-usuario" [ngStyle]="estiloImagen"> {{user.email}}
                <ng-template #imgenDefault><img [ngStyle]="estiloImagen" src="../../../assets/images/usuario.ico"></ng-template>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" (click)="logout()">Logut</a></li>
              </ul>
            </li>
            
          </ul>

        </div>
      </div>
    </div>
  </nav>
