<div class="mt-5 container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card bg-dark text-white">
                <img src="../../../../assets/images/preguntados.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title text-dark">Preguntados</h5>
                  <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>

        </div>
    </div>

</div>